{%extends "template.html"%}
{% from 'bootstrap5/nav.html' import render_nav_item %}

{%block title%}{{user.username}}'s Game Page | Vidya!{%endblock%}
{%block head%}<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='styles/user-page.css')}}">{%endblock%}
{%block content%}
<!--
    This will contain a banner they can upload themselves, for customisation.

    The page will have a profile picture they can upload after creating an account, on the account settings page.

    The user page will display their username, account creation date, and bio, if they wish to put that there.

    They will firstly be presented with a log of the games they have played recently, so like:

    Fortnite
        Now Playing
    Team Fortress 2
        19/07/2023 | 3 hours
    FIFA 23
        19/07/2023 | 20 minutes
    Grand Theft Auto 5
        18/07/2023 | 5 hours
    ... and so on
    
    For this information to be available we can either let the person log it themselves,
    or use some game launcher API to retrieve the game they are currently playing

    There will be columns that the user page will have:
        - The log
        - Report
        - Favourites
        - Collections
        - Reviews
        - Followers (MAYBE)
        - Following (MAYBE)
          
-->
<div class="top-banner">
    <span class="username">{{user.username}}</span>
    <span class="join-date">Grinding since {{user.create_date.strftime("%d %B %Y")}}</span>
</div>
<div class="user-content">
    <div class="center-container">
        <nav class="navbar navbar-expand-lg">
                <a class="nav-item nav-link" href="/user/{{user.username}}">Overview</a>
                <a class="nav-item nav-link" href="/user/{{user.username}}/report">Report</a>
                <a class="nav-item nav-link" href="/user/{{user.username}}/library">Library</a>
                <a class="nav-item nav-link" href="/user/{{user.username}}/favorites">Favorites</a>
                <a class="nav-item nav-link" href="/user/{{user.username}}/collections">Collections</a>
                <a class="nav-item nav-link" href="/user/{{user.username}}/reviews">Reviews</a>
        </nav>
        
    </div>
</div>
{%endblock%}