#game-bg-container {
    /* position:relative; */
    /* top:0; */
    z-index: 1;
    width:100%;
    height: 240px;
    overflow-y: hidden;
    background: transparent no-repeat center;
    background-size: cover;
}

#game-bg {
    width:100%;
    height:auto;
    overflow-y: hidden;
}

#game-bg .blur {
    height: 100%; 
    background-color: rgb(255, 131, 131);
}

.game-info-container {
    /* z-index: 999; */
    z-index: 2;
    /* top: 40%; */
    width: 100%;
    background-color: rgb(61, 57, 57);;
    height: 100%;
    color:white;
}

.user-stats {
	display: inline-block;
	border-radius: 10px;
    padding: 10px;
	padding-left: 0px;
    background-color: rgb(48, 44, 44);
	width: 100%;
}

@media only screen and (max-width: 600px) {
    #game-bg-container {
        height: 120px;
    }
}

/* Rating area */

.self-rating-block {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(48, 44, 44);
}

.rating-list {
    list-style: none;
    padding-left: 0;
}

.rating {
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--yellow);
	/* margin-bottom: 2rem; */
}
.rating .star {
	cursor: pointer;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
	background: var(--light);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}
.btn-group .btn.submit {
	background: var(--blue);
	color: var(--white);
}
.btn-group .btn.submit:hover {
	background: var(--blue-d-1);
}
.btn-group .btn.cancel {
	background: var(--white);
	color: var(--blue);
}
.btn-group .btn.cancel:hover {
	background: var(--light);
}


